name: API tests on PUSH

on:
    push:
        branches:
            - **

jobs:
    test:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
            uses: actions/checkout@v4

            - name: Set up Python
            uses: actions/setup-python@v5
            with:
                python-version: '3.9.6'

            - name: Install dependencies
            run: |
                python -m pip install --upgrade pip
                pip install -r requirements.txt
            
            - name: Run Pytest (API tests)
            run: |
                pytest Tests_API/test_api.py -v
    
